* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
}

/* Header */
header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
header h1 {
    margin-bottom: 10px;
}
nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    color: #ffff00;
}
/* Hero Section */
.hero {
    background: #535353;
    color: #ffffff;
    text-align: center;
    padding: 100px 20px;
}
.hero h2 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #ffffff;
}
.hero p {
    font-size: 20px;
}

/* About */
section {
    padding: 20px 40px;
    text-align: center;
}
section h2 {
    margin-bottom: 20px;
    color: #222;
}
section p {
    max-width: 600px;
    margin: auto;
}

/* Projects */
.projects {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.projects-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}
.projects-card:hover {
    transform: scale(1.05);
}
.projects-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
/* contact */
form {
    max-width: 400px;
    margin: auto;
    text-align: left;
}
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
form input, 
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border: 5px;
}
form input[type="submit"] {
    background: #333;
    color: #ffffff;
    cursor: pointer;
}
form input[type="submit"]:hover {
    background: #555;

}

/* Footer */
footer {
    background: #222;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

